@media screen and (min-width: 1024px) {
  // Hero section (whole cotainer for both headers and hero section)
  nav {
    display: none;
  }
  .hamburger--container {
    display: none;
  }
  .hero--section {
    width: 100%;
    background: url("../img/background-new.png") no-repeat;
    background-size: cover;
    background-position: center;
    header {
      width: 100%;
      height: 5rem;
      display: flex;
      font-size: 0.875rem;
      svg {
        display: none;
      }
      div {
        height: inherit;
      }
      .logo {
        @include flex(center, center);
        padding-left: 1.4rem;
        img {
          width: 2.375rem;
          height: 2.375rem;
        }
        h2 {
          padding-left: 0.3rem;
        }
      }
      .nav--links {
        width: 100%;
        @include flex(center, center);
        font-weight: 400;
        font-size: 1rem;
        color: $color;
        margin: 0 auto;
        flex-wrap: wrap;
        p {
          @include flex(center, center);
          width: 10rem;
          word-wrap: none;
          height: auto;
          font-size: 1rem;
        }
      }
      .registration {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        padding-right: 6rem;
        button {
          width: 4rem;
          height: 2.5rem;
          border: 1px solid #ffffff;
          border-radius: 10px;
          background-color: transparent;
          color: #fff;
          font-weight: 600;
          font-family: $primaryFont;
          &:nth-child(2) {
            margin-left: 12px;
            background: $btnColor;
            border: 0;
          }
        }
      }
    }

    main.hero {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding-bottom: 2rem;
      h1 {
        margin-top: 10.563rem;
        font-size: 5.5rem;
        font-weight: 700;
        line-height: 115px;
        letter-spacing: 0px;
        text-align: center;
        width: 60rem;
        height: auto;
      }
      p {
        width: 699px;
        height: 6.5rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 26px;
        text-align: center;
        color: #898ca9;
      }
      button {
        width: 12.5rem;
        height: 5rem;
        background: $btnColor;
        border-radius: 14.6429px;
        border: 0;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
        color: white;
        margin-top: 53px;
      }
    }
  }
  // End of .hero--section

  // Vision section
  section.vision {
    width: 100%;
    height: 73rem;
    @include flex(center, center);
    // background: url(../../public/img/spiral-1.png) no-repeat center center;
    // background-color: rgba(0, 36, 90, 1);
    background-color: $backgroundColor;
    div {
      width: 50%;
      height: inherit;
      &.article {
        padding-left: 7.5rem;
        display: block;
        .img--mobile {
          display: none;
        }
        // .oval {
        //   width: 596.4px;
        //   height: 595.93px;
        //   position: absolute;
        //   left: -70%;
        //   background: linear-gradient(180deg, #2c4982 0%, #2cd095 100%);
        //   filter: blur(400px);
        //   transform: matrix(-1, 0, 0, 1, 0, 0);
        // }
        // .rect {
        //   width: 596.4px;
        //   height: 595.93px;
        //   position: absolute;
        //   left: -40.67%;
        //   top: 70%;
        //   background: linear-gradient(
        //     180deg,
        //     rgba(24, 255, 158, 0) 0%,
        //     #17ffe3 100%
        //   );
        //   filter: blur(200px);
        //   transform: matrix(-1, 0, 0, 1, 0, 0);
        // }
      }
      &.article--mobile {
        display: none;
      }
      &.img {
        background: url(../../public/img/vision.png) top no-repeat;
        // opacity: 0.1;
        background-size: 25rem;
      }
      .header {
        width: 24.5rem;
        height: 5.8rem;
        border: 1px solid #ffffff;
        border-radius: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 4rem;
        @include flex(center, center);
        color: #ffffff;
        margin-top: 10rem;
      }
      .phrase {
        width: 18rem;
        height: 3.8rem;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 130%;
        /* or 31px */
        margin-top: 1.188rem;
        color: $color;
      }
      .text {
        width: 30rem;
        height: 24.75rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 160%;
        /* or 26px */
        color: $color;
        margin-top: 1.8rem;
      }
      button {
        width: 26.625rem;
        height: 3.5rem;
        border-radius: 10px;
        background: $btnColor;
        border-radius: 10px;
        margin-top: 2.8rem;
        border: 0;
        color: white;
        font-weight: 600;
      }
    }
  }

  // Vision section ends

  // Mission section start
  aside.mission {
    width: 100%;
    height: auto;
    @include flex(center, flex-start);
    // transform: translateY(-8rem);
    padding-block: 1rem;
    .img {
      width: 46rem;
      height: 42rem;
      background-image: url(../../public/img/runner.png);
      background-position: left;
      background-size: 35.2rem 31rem;
      background-repeat: no-repeat;
    }
    .mission--article {
      width: auto;
      height: auto;
      @include flex(center, center);
      flex-direction: column;
      margin-left: 1.5rem;
      .img--mobile {
        display: none;
      }
      p.head {
        width: 26.625rem;
        height: 4.5rem;
        border: 1px solid #ffffff;
        border-radius: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 65px;
        @include flex(center, center);
        color: #ffffff;
      }
      p {
        width: 25.5rem;
        height: auto;
        font-weight: 400;
        font-size: 1rem;
        line-height: 160%;
        /* or 26px */
        text-align: justify;
        color: $color;
        margin-top: 1.56rem;
      }
      button {
        width: 26.625rem;
        height: 3.5rem;
        background: $btnColor;
        border-radius: 10px;
        border-radius: 10px;
        margin-top: 1.2rem;
        border: 0;
        color: white;
        font-weight: 600;
      }
    }
  }

  // Mission section ends

  //   Option sections start
  section.options {
    width: 100%;
    height: 35.8rem;
    background: url(../img/spiral-2.png) no-repeat center center,
      url(../img/mary.png) top right no-repeat;
    background-size: contain, 3rem;
    @include flex(center, space-around);
    div.box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 32px 24px;
      width: 20rem;
      height: 24rem;
      /* black/black-12 */
      background: $backgroundColor;
      border-radius: 15px;
      h2 {
        font-size: 1.6rem;
        color: #fff;
        padding-top: 1.4rem;
      }
      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $color;
        text-align: center;
        padding-top: 1rem;
      }
      a {
        text-decoration: none;
        color: rgba(65, 209, 14, 1);
        font-weight: 700;
        padding-top: 2.5rem;
        @include flex(center, center);
        span {
          padding-left: 0.4rem;
        }
      }
    }
  }

  // Buying starts
  section.buying {
    width: 100%;
    height: auto;
    @include flex(center, flex-start);
    flex-direction: column;
    h2 {
      width: 48.75rem;
      font-weight: 700;
      font-size: 3rem;
      line-height: 130%;
      /* or 65px */
      text-align: center;
      margin-top: 6rem;
    }
    p {
      width: 38rem;
      font-size: 1rem;
      line-height: 150%;
      /* identical to box height, or 24px */
      text-align: center;
      margin-top: 1rem;
      color: $color;
    }
    .list--container {
      width: 100%;
      height: auto;
      background: $backgroundColor;
      background-image: url(../img/star.png) no-repeat;
      margin-top: 6rem;
      @include flex(flex-start, center);
      .list-1 {
        width: 50%;
        height: auto;
        .text--container {
          width: 100%;
          height: auto;
          @include flex(center, flex-start);
          padding: 2rem;
          padding-left: 6rem;
          div.star {
            width: 5%;
            height: inherit;
            @include flex(flex-start, center);
          }
          div.text {
            width: 70%;
            height: inherit;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
            margin-inline-start: 1.5rem;
          }
        }
      }
      .list-2 {
        @extend .list-1;
        .coin {
          width: 16rem;
          height: 9.25rem;
          transform: translate(8rem, 8rem);
          // transform: scale(0.8);
        }
      }
      // .gradient {
      //   width: 46em;
      //   height: 90rem;
      //   background: url(../../public/img/coin-gradient.png);
      //   right: -1%;
      //   margin-top: -30rem;
      //   filter: blur(4rem);
      //   position: absolute;
      // }
    }
  }
  // Buying ends

  // Lorem Starts
  article.exp {
    width: 100%;
    height: auto;
    background: url(../../public/img/circle-spiral.png) no-repeat;
    background-position: right top;
    .tokenomics {
      width: 100%;
      height: 50rem;
      @include flex(center, center);
      div {
        width: 50%;
        &.pie {
          height: inherit;
          @include flex(center, flex-start);
          flex-direction: column;
          padding-top: 6rem;
          background-color: transparent;
          .gradient {
            width: 40rem;
            height: 60rem;
            background: url(../img/tokenomic-gradient.png) no-repeat;
            background-size: 30rem;
            position: absolute;
            filter: blur(1rem);
            opacity: 0.5;
            transform: translateY(-10rem);
            left: 0;
          }
          .chart {
            width: 100%;
            height: 20rem;
            background: url(../img/pie.png) no-repeat;
            background-size: 18rem;
            background-position-x: 6rem;
          }
          h1 {
            width: 475px;
            height: auto;
            font-weight: 700;
            font-size: 3.5rem;
            line-height: 130%;
          }
        }
        &.text {
          @include flex(flex-start, center);
          flex-direction: column;

          h1 {
            width: 538px;
            height: auto;
            font-weight: 700;
            font-size: 3.5rem;
            line-height: 130%;
          }
          p {
            width: 473px;
            height: 42px;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 130%;
            /* identical to box height, or 42px */
            padding-block: 2rem;
          }
        }
      }
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        width: 48rem;
        height: 4rem;
        font-weight: 700;
        font-size: 3rem;
        line-height: 130%;
        text-align: center;
      }
      p.sub {
        width: 38.5rem;
        height: 1.5rem;
        color: $color;
        font-weight: 400;
        font-size: 1rem;
        /* or 24px */
        padding: 1rem;
        text-align: center;
      }
      .questions {
        width: 100%;
        height: auto;
        @include flex(flex-start, center);
        .q--1 {
          width: 50%;
          height: inherit;
          padding: 2rem 6rem;
          p {
            width: 351px;
            height: auto;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            margin-top: 2.4rem;
          }
          ul {
            transform: translateX(1.5rem);
            padding-top: 1.75rem;
            li {
              width: 428px;
              height: auto;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              color: $color;
            }
          }
        }
        .q--2 {
          @extend .q--1;
        }
        .q--icon {
          width: 45rem;
          height: 55rem;
          background: url(../img/q--icon.png) no-repeat;
          background-position: center;
          background-size: 20rem;
          position: absolute;
          right: -10%;
          margin-top: 8rem;
        }
      }
    }
    .shield {
      width: 100%;
      height: 39rem;
      @include flex(center, flex-start);
      .img {
        width: 40%;
        height: 40rem;
        background: url(../../public/img/shield-new.png) no-repeat;
        background-size: 28rem;
        background-position-x: -10%;
        background-position-y: 75%;
      }
      .shield--content {
        @include flex(flex-start, center);
        flex-direction: column;
        width: 50%;
        height: 100%;
        .img--mobile {
          display: none;
        }
        h2 {
          width: 580px;
          height: auto;
          font-weight: 700;
          font-size: 50px;
          line-height: 130%;
          /* or 65px */
          padding-bottom: 1rem;
        }
        p {
          width: 580px;
          height: auto;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          /* or 24px */

          /* black/black-60 */
          padding-top: 0.9rem;
          color: $color;
        }
        button {
          width: 156px;
          height: 56px;
          border: 1px solid #ffffff;
          border-radius: 10px;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          font-size: 1rem;
          margin-top: 3.25rem;
          background-color: transparent;
          color: #fff;
        }
      }
    }
  }
  // Lorem ends

  // Trade starts
  section.trade {
    width: 100%;
    height: auto;
    background: url(../../public/img/token-spiral.png) no-repeat;
    margin-top: 10rem;
    padding-bottom: 12rem;
    // .chart--talk {
    //   @include flex(center, center);
    //   flex-direction: column;
    //   h1 {
    //     width: 780px;
    //     height: 167px;
    //     font-weight: 700;
    //     font-size: 64px;
    //     line-height: 130%;
    //     /* or 83px */
    //     display: flex;
    //     align-items: flex-end;
    //     text-align: center;
    //   }
    //   p {
    //     width: 580px;
    //     height: auto;
    //     font-weight: 400;
    //     font-size: 16px;
    //     line-height: 150%;
    //     /* or 24px */
    //     text-align: center;
    //     padding-top: 1rem;
    //     /* black/black-60 */
    //     color: $color;
    //   }
    //   a {
    //     text-decoration: none;
    //     font-weight: 600;
    //     font-size: 16px;
    //     line-height: 100%;
    //     /* identical to box height, or 16px */
    //     text-align: center;
    //     /* primary/purpe */
    //     color: #b982ff;
    //     padding-top: 36px;
    //   }
    // }
    // .chart--table {
    //   width: 90%;
    //   height: 448px;
    //   background: rgba(26, 27, 35, 1);
    //   border-radius: 25px;
    //   margin: 0 auto;
    //   margin-top: 15.5px;
    //   padding: 2rem;
    //   @include flex(center, space-around);
    //   flex-direction: column;
    //   div.row {
    //     width: 100%;
    //     height: 60px;
    //     @include flex(center, space-between);
    //     border-bottom: 1px solid #2b2c3b;
    //     div {
    //       @include flex(center, space-around);
    //       font-size: 1rem;
    //       font-weight: 700;
    //       line-height: 30px;
    //       letter-spacing: 0em;
    //       &:nth-child(1) {
    //         width: 207px;
    //         height: 30px;
    //         justify-content: flex-start;
    //         font-weight: 700;
    //       }
    //       &:nth-child(2) {
    //         width: 88px;
    //         height: 30px;
    //         color: rgba(185, 130, 255, 1);
    //         line-height: 30px;
    //         letter-spacing: 0em;
    //       }
    //       &:nth-child(3) {
    //         justify-content: flex-end;
    //         width: 180px;
    //         height: 30px;
    //       }
    //       &:nth-child(4) {
    //         width: 100px;
    //         height: 30px;
    //         color: rgba(13, 187, 124, 1);
    //         justify-content: flex-end;
    //       }
    //       &:nth-child(6) {
    //         width: 100px;
    //         height: 30px;
    //       }
    //     }
    //     .graph {
    //       width: 30%;
    //       height: 56px;
    //       background: url(../img/btc-graph.png) no-repeat;
    //       background-position: center;
    //       background-size: 12rem;
    //     }
    //   }
    // }
    .token {
      width: 100%;
      height: auto;
      margin-top: 10rem;
      @include flex(center, center);
      .header {
        width: 60%;
        height: inherit;
        padding-inline-start: 3rem;
        .img--mobile {
          display: none;
        }
        h2 {
          font-weight: 700;
          font-size: 50px;
          line-height: 130%;
          /* identical to box height, or 65px */
        }
        p {
          width: 36rem;
          padding-top: 1rem;
          font-weight: 400;
          font-size: 1rem;
          line-height: 150%;
          color: $color;
        }
        div.platforms {
          width: 100%;
          height: 20rem;
          background: url(../../public/img/platforms.png) no-repeat;
          background-position: left;
          background-size: 35rem;
        }
      }
      .img {
        width: 40%;
        height: inherit;
        @include flex(center, center);
        img {
          width: 28rem;
          height: 20rem;
        }
        // .gradient {
        //   width: 892px;
        //   height: 945px;
        //   background: url(../img/token-gradient.png) no-repeat;
        //   background-position: right;
        //   position: absolute;
        //   left: 0;
        //   transform: translateX(100%);
        //   filter: blur(50px);
        // }
      }
    }
    .address {
      width: 100%;
      @include flex(center, center);
      flex-direction: column;
      margin-top: 9rem;
      h1 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
        font-weight: 700;
        font-size: 3rem;
        line-height: 130%;
      }
      p {
        margin-top: 1rem;
        color: $color;
      }
      input {
        border-radius: 10px;
        margin-top: 2rem;
        text-indent: 2rem;
        width: 465px;
        height: 56px;
        // border: 1px solid rgba(65, 209, 14, 1);
        box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.05),
          inset 0px 2px 2px rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(40px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        background-color: $backgroundColor;
        outline: none;
      }
      button {
        font-weight: 600;
        font-size: 1rem;
        line-height: 100%;
        /* identical to box height, or 16px */
        text-align: center;
        width: 156px;
        height: 56px;
        border: 0;
        /* gradient/main */
        background: $btnColor;
        border-radius: 10px;
        color: #fff;
        margin-top: 2rem;
      }
    }
  }
  //   Trade ends

  footer {
    width: 100%;
    height: auto;
    @include flex(center, space-between);
    flex-wrap: wrap;
    border-top: 1px solid $backgroundColor;
    background: rgba(0, 23, 58, 1);

    div {
      width: 30%;
      height: inherit;

      &.policy {
        padding: 3rem 2rem;
        padding-top: 8rem;
        h3 {
          font-weight: 700;
          font-size: 0.9rem;
          line-height: 130%;
        }
        p {
          width: 23rem;
          height: auto;
          /* body/14px */
          font-weight: 400;
          font-size: 0.9rem;
          line-height: 150%;
          color: $color;
          padding-top: 1rem;
        }
        input {
          width: 19rem;
          height: 3.5rem;
          /* blur/glass */
          box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.05),
            inset 0px 2px 2px rgba(255, 255, 255, 0.15);
          backdrop-filter: blur(40px);
          /* Note: backdrop-filter has minimal browser support */
          border-radius: 10px;
          border: 1px solid rgba(65, 209, 14, 1);
          color: $color;
          text-indent: 1rem;
          margin-top: 2rem;
        }
      }
      &.links {
        @include flex(center, center);
        color: $color;
        flex-direction: column;
        p {
          width: 20%;
          text-align: left;
          padding-block: 0.7rem;
        }
      }
      &.connect {
        @include flex(flex-start, center);
        flex-direction: column;
        .social {
          width: 100%;
          height: 4rem;
          background: url(../img/social.png) left center no-repeat;
        }
        p {
          color: $color;
          padding-block: 0.7rem;
        }
        button {
          width: 9rem;
          height: 2.5rem;
          /* gradient/main */
          background: $btnColor;
          border-radius: 7.30769px;
          color: white;
          border: 0;
          font-size: 1rem;
          font-weight: 600;
          margin: 1rem 2rem;
        }
      }
    }
    // .gradient{
    //   width: 30rem;
    //   height: 30rem;
    //   background:url(../img/footer-gradient.png) no-repeat;
    //   background-size:30rem;
    //   transform:translateY(0%);
    //   position: absolute;
    // }
  }
}
