
<div class="dash--nav">

    <a href="/" class="header">
        <img src="../../../public/img/agropic.png" alt="">
        <h1>AgroMetacoin</h1>
    </a>

    <nav>
        <div>
            <span class="material-symbols-outlined">
                account_balance_wallet
            </span>
            <span>
                Wallet
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </div>

        <div>
            <span class="material-symbols-outlined">
                local_mall
            </span>
            <span>
                <a href="/presale">Presale</a>
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </div>

        <div>
            <span class="material-symbols-outlined">
                swap_vert
            </span>
            <span>
                Transfer
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </div>

        <div>
            <span class="material-symbols-outlined ">
                payments
            </span>
            <span>
                Withdraw
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </div>

        <div>
            <span class="material-symbols-outlined">
                monetization_on
            </span>
            <span>
                <a href="https://www.agrometacoin.com/dashboard#airdropSection">Airdrop</a>
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </div>

        <div>
            <span class="material-symbols-outlined">
                settings
            </span>
            <span class="settingClicked">
                Settings
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
            <div class="settingOptions" style="display: none; flex-direction: column; align-items: flex-start; gap:5px">
                <p class="goBSC" style="cursor: pointer; z-index: 10;">BSC</p>
                <p class="goEMAIL" style="cursor: pointer; z-index: 10;">Email</p>
                <p class="goPASSWORD" style="cursor: pointer; z-index: 10;">Password</p>
            </div>
            <script>

                let hidden = true
                const settingOptions = document.querySelector(".settingOptions")
                document.querySelector(".settingClicked").addEventListener('click', () => {

                    hidden ? (settingOptions.style.display = "flex") :
                    (settingOptions.style.display = "none");

                    hidden = !hidden

                })

                document.querySelector(".goBSC").addEventListener("click", () => {
                    hidden = false
                    window.location.href = "/editbsc"
                })

                document.querySelector(".goEMAIL").addEventListener("click", () => {
                    hidden = false
                    window.location.href = "/editemail"
                })

                document.querySelector(".goPASSWORD").addEventListener("click", () => {
                    hidden = false
                    window.location.href = "/editpassword"
                })

            </script>
        </div>

    </nav>
    <button class="logout2">Logout</button>

</div>

