
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/public/img/agropic.png" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/public/styles/style.css" />
	<title>Agro - Meta Coin</title>
	<!-- META DESCRIPTION -->
	<meta name="description" content="Agro Meta Coin is a new token that is meant to improve the lives of individuals, everyone gets to own a part of the token at each referalls" >
	<!-- META KEYWORDS -->
	<meta name="keywords" content="Money, platform, Online, BlockChain, Dollar, Token, Coin, Cypto, Agro legitimate">

	<style>
		
		body {
            background-color: #000102f5;
            color: white;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    
        section,
        div,
        footer {
            overflow: hidden;
    
        }
		.ultra{
			font-family: 'Ultra', serif;
		}
		.russo{
			font-family: 'Russo One', sans-serif;
		}
		option {
		background: #1b1a1a !important;
		color: #d2e9ca !important;
		}
	
		</style>
</head>