<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="icon" type="image/x-icon" href="/public/img/agropic.png" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700&family=Space+Grotesk:wght@300;400;500;600&display=swap"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="/public/styles/main.css" />
	<link rel="stylesheet" href="/public/styles/style.css" />
	<title>Agro - Meta Coin</title>
	<!-- META DESCRIPTION -->
	<meta name="description"
		content="Agro Meta Coin is a new token that is meant to improve the lives of individuals, everyone gets to own a part of the token at each referalls">
	<!-- META KEYWORDS -->
	<meta name="keywords" content="Money, platform, Online, BlockChain, Dollar, Token, Coin, Cypto, Agro legitimate">
	<!-- DASHBOAED AUTH -->
	<script>
		
		 if(window.location.href.includes('https://agrometacoin.herokuapp.com')){
            window.location.href = "https://www.agrometacoin.com"
        }

		const user = JSON.parse(window.localStorage.getItem('user'))

		if(!user && window.location.href.includes('dashboard')) (window.location.href = '/register') 
		if(user && window.location.href.includes('register')) (window.location.href = '/dashboard') 
		if(user && window.location.href.includes('login')) (window.location.href = '/dashboard') 

	</script>
	<script src="/public/js/baseUrl.js"></script>
</head>