<header>
    <div class="logo">
        <img src="../../public/img/agropic.png" alt="#">
        <h2>AgroMetacoin</h2>
    </div>
    <div class="nav--links">
        <p>
            <a href="/">Home</a>
        </p>
        <p>Pre-sale</p>
        <p>Metaverse</p>
        <p>NFT Marktetplace</p>
        <p>Tokenomics</p>
        <p>Roadmap</p>
    </div>
</header>