<%- include('partials/header.ejs') %>

    <body class="relative" style="background-color: #252525;">
        <img src="/public/img/coin2.jpg" class="h-full w-full absolute opacity -z-50" style="opacity: .15;" alt="">
        
        <!-- Nav Section -->
            <div class="overflow-x-hidden">
                    <!-- Main Section -->
                    <section class="mt-16">
                        <div class="mt-10 m-5 min-h-screen">
                            <div class="">
                                <div class="goldenB lightDark p-3 my-10 shadow-md shadow-gray-700 flex flex-col items-center justify-center gap-1 max-w-[900px] mx-auto mt-20 z-40">
                                    <h1 class="ultra text-xl md:text-4xl mt-4 golden tracking-wider text-center fullName">
                                        <p class="fullname max-w-[500px] m-5 text-center mx-auto">
                                            Binance smart contract token pool balance
                                        </p>
                                    </h1>
                                    <div class="greenLine h-[2px] my-5 w-full"></div>
                                    <!-- <p class="text-3xl mb-10 ultra">NGN 6,000</p> -->                        
                                    <div class="w-full p-5 flex gap-5 items-center justify-between">
                                        <div class="greenDot"></div>
                                        <p class="flex-1 text-xl md:text-2xl ultra">Total Supply: 
                                            <span class="golden totalCoin">
                                                100,000,000,000,000
                                            </span>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                            </div>

                                  <!-- Dashboard Infos -->
                                  <div class="flex items-center justify-center flex-wrap my-10 gap-5 max-w-[900px] mx-auto">
                                    <div
                                        class="goldenB lightDark p-7 shadow-md shadow-gray-700 flex items-center justify-between gap-10 w-full max-w-[900px] mx-auto">
                                        <div class="space-y-2">
                                            <p class="text-gray-200 font-bold text-2xl">Total withdrawn</p>
                                            <p class="ultra golden text-2xl xtotalReferall">
                                                100,000,000
                                            </p>
                                        </div>
                                        <div class="purpleGrad w-10 h-10 opacity-50"></div>
                                    </div>
                                    <div
                                        class="goldenB lightDark p-7 shadow-md shadow-gray-700 flex items-center justify-between gap-10 w-full max-w-[900px] mx-auto">
                                        <div class="space-y-2">
                                            <p class="text-gray-200 font-bold text-2xl">Token gas pool</p>
                                            <p class="ultra golden text-2xl xtotalReferall">
                                                0.08647 BNB
                                            </p>
                                        </div>
                                        <div class="purpleGrad w-10 h-10 opacity-50"></div>
                                    </div>
                                    <div
                                        class="goldenB lightDark p-7 shadow-md shadow-gray-700 flex items-center justify-between gap-10 w-full max-w-[900px] mx-auto">
                                        <div class="space-y-2">
                                            <p class="text-gray-200 font-bold text-2xl">Token gas pool balance</p>
                                            <p class="ultra golden text-2xl xtotalReferall">
                                                - 3.97 BNB
                                            </p>
                                        </div>
                                        <div class="purpleGrad w-10 h-10 opacity-50"></div>
                                    </div>
                                </div>

                        </div>
                   <!-- Footer -->

                    </section>
            </div>

            <!-- Javascript codes and links -->

        <script src="/public/js/dashboard.js"></script>
        <script src="/public/js/social.js"></script>
        <!-- <script src="/public/js/maindash.js"></script> -->

    </body>

    </html>