<%# include('partials/header.ejs') %>

	<%- include('partials/mainheader.ejs') %>

			<body>
				<style scoped>
					@media (min-width: 767px) {
						.star1 {
							display: none;
						}

						.star2 {
							display: none;
						}

						.star3 {
							display: none;
						}

						.star4 {
							display: none;
						}

						.star5 {
							display: none;
						}

						.star6 {
							display: none;
						}

						.star7 {
							display: none;
						}

						.star8 {
							display: none;
						}
					}

					.svgSocial path {
						color: white;
						fill: currentcolor;
					}
				</style>

				<!-- NAV SECTION -->
				<%# include('partials/navbar.ejs') %>

					<nav class="nav">
						<p>
							<a href="/">Home</a>
						</p>
						<p>
							<a href="/coming">Pre-sale</a>
						</p>
						<p>
							<a href="/coming">Meterverse</a>
						</p>
						<p>
							<a href="/coming">NFT Marktetplace</a>
						</p>
						<p>
							<a href="/coming">Tokenomics</a>
						</p>
						<p>
							<a href="/coming">Roadmap</a>
						</p>
						<button id="login">Login</button>
						<button id="reg" class="signup">Signup</button>
					</nav>
					<!-- Hero Section -->
					<section class="hero--section">
						<!-- navigation bar -->
						<header>
							<a href="/" class="logo">
								<img src="../../public/img/agropic.png" alt="#">
								<h2>AgroMetacoin</h2>
							</a>

							<div class="nav--links">
								<p>
									<a href="/coming">Pre-sale</a>
								</p>
								<p>
									<a href="/coming">Meterverse</a>
								</p>
								<p>
									<a href="/coming">NFT Marktetplace</a>
								</p>
								<p>
									<a href="/coming">Tokenomics</a>
								</p>
								<p>
									<a href="/coming">Roadmap</a>
							</div>
							<div class="registration">
								<div class="hamburger--container">
									<label for="check">
										<input type="checkbox" id="check" />
										<span></span>
										<span></span>
										<span></span>
									</label>
								</div>
							</div>
						</header>

            <!-- main dashboard -->
            <section class="col-span-4 md:col-span-3 mt-16">
                <div class="mt-10 m-5 min-h-screen">
                    <div>
                        <!-- Packages -->
                        <div class="my-10 mb-40">
                            <div class="flex flex-col items-center justify-center gap-2 mb-20">
                                <h1 class="mt-20 text-center text-3xl md:text-4xl font-sans tracking-wide font-bold golden" style="opacity: .5;">
                                    Coming Soon...
                                </h1>
                            </div>
                            <div class="flex flex-col items-center justify-center">
                                <img src="/public/img/`countdown.gif" style="height: 250px; width: 400px;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- Footer -->
                  <footer class="flex items-center justify-center w-full bg-black bg-opacity-30 p-7">
                    <p class="text-gray-200 text-sm">©2022 Agro Meta coin</p>
                    <!-- <p class="text-gray-200 text-sm">Designed & Developed by Agro Meta coin Technologies Ltd</p> -->
                </footer>
            </section>
        </div>
      </section>
      <!-- Javascript codes and links -->
      <script src="/public/js/baseUrl.js"></script>
	</body>
	<script src="../../public/js/config.js"></script>

  </html>