
<%- include('partials/mainheader.ejs') %>
<style>

    @font-face{
    font-family:'digital-clock-font';
    src: url('/public/fonts/digital-7.ttf');
    }

    body{
        background: white !important;
    }
  
    .flexCenter {
        display: flex; align-items: center; justify-content: center;
    }

    .purchaseBtn {
        flex-direction: column;
        padding: 10px;
        color: white;
        text-align: center;
        background: linear-gradient(52.09deg, #40D00D -11.18%, #40D00D 58.92%, #EDF3A9 98.44%);
        border-radius: 4px;
    }

    .flexBetween {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #40D00D;
        padding: 10px;
        border-radius: 2px;
        margin: 12px 0;
    }

    .purchaseTitle {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 900;
        font-size: 23px;
        line-height: 130%;
        text-align: center;
        margin-top: 20px;
    }

    .purchaseInput{
        outline: none;
        background: #FFFFFF;
        border-radius: 3px;
        height: 40px;
        max-width: 600px;
        width: 95%;
        padding: 8px;
    }
    .pForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px auto;
    }
    .pPlaceholder {
        color: black;
        font-size: 13px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 4px;
        max-width: 600px;
        width: 95%;
        font-weight: bold;
    }
    .centeredDiv{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 5000;
        background: rgb(241, 241, 241);
        padding: 10px;
        border-radius: 10px;
        flex-direction: column;
        width: 93%;
        max-width: 600px;
    }
    .hidden{
        display: none;
    }

</style>
<!-- Navigation for mobile  -->
<nav class="dash--mobile">
    <a href="/" class="header">
        <img src="../../../public/img/agropic.png" alt="">
        <h1>AgroMetacoin</h1>
    </a>

    <a href="/coming">
        <span class="material-symbols-outlined">
            account_balance_wallet
        </span>
        <span>
            Wallet
        </span>
        <span class="material-symbols-outlined chevron">
            chevron_right
        </span>
    </a>

    <a href="/presale">
        <span class="material-symbols-outlined">
            local_mall
        </span>
        <span>
            Presale
        </span>
        <span class="material-symbols-outlined chevron">
            chevron_right
        </span>
    </a>

    <a href="/coming">
        <span class="material-symbols-outlined">
            swap_vert
        </span>
        <span>
            Transfer
        </span>
        <span class="material-symbols-outlined chevron">
            chevron_right
        </span>
    </a>

    <a href="/coming">
        <span class="material-symbols-outlined ">
            payments
        </span>
        <span>
            Withdraw
        </span>
        <span class="material-symbols-outlined chevron">
            chevron_right
        </span>
    </a>

    <a href="https://www.agrometacoin.com/dashboard#airdropSection">
        <span class="material-symbols-outlined">
            monetization_on
        </span>
        <span>
            Airdrop
        </span>
        <span class="material-symbols-outlined chevron">
            chevron_right
        </span>
    </a>

    <a href="#">
        <span class="material-symbols-outlined">
            settings
        </span>
        <span class="settingClicked1">
            Settings
        </span>
        <span class="material-symbols-outlined chevron">
            chevron_right
        </span>
        <div class="settingOptions1" style="display: none; flex-direction: column; align-items: flex-start; margin-top: 30px; gap: 5px">
            <p class="goBSC1" style="cursor: pointer;">BSC</p>
            <p class="goEMAIL1" style="cursor: pointer;">Email</p>
            <p class="goPASSWORD1" style="cursor: pointer;">Password</p>
        </div>
        <script>

            let hidden1 = true
            const settingOptions1 = document.querySelector(".settingOptions1")
            document.querySelector(".settingClicked1").addEventListener('click', () => {

                hidden1 ? (settingOptions1.style.display = "flex") :
                (settingOptions1.style.display = "none");

                hidden1 = !hidden1

            })

            document.querySelector(".goBSC1").addEventListener("click", () => {
                hidden1 = false
                window.location.href = "/editbsc"
            })

            document.querySelector(".goEMAIL1").addEventListener("click", () => {
                hidden1 = false
                window.location.href = "/editemail"
            })

            document.querySelector(".goPASSWORD1").addEventListener("click", () => {
                hidden1 = false
                window.location.href = "/editpassword"
            })

        </script>
    </a>

    <button class="logOut2">Logout</button>

</nav>
<!-- Navigation for mobile ends -->

<!-- User profile mobile -->

<aside class="profile--m">
    <div class="profile">
        <h3>My profile</h3>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: gray; height: 150px;" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
          </svg>
        <p class="name" style="font-size: small;">Welcome <span class="userEmail2"></span></p>
        <a href="#">Edit profile</a>
    </div>

    <!-- Content starts -->
    <div class="content">
        <h3 class="acct-header">Account</h3>
        <p class="joined">Bought Coins
            <span class="boughtCoins"></span>
        </p>
        <p class="joined">Assests Total
            <span class="assetsTotal"></span>
        </p>    

    </div>
    <!-- Content ends  -->
    <button>
        <a href="/presale" style="z-index: 10;">
            <span class="material-symbols-outlined">
                swap_vert
            </span>
            Buy Now
        </a>
    </button>
</aside>
<!-- User profile ends -->



<section class="dashboard--container">
    <!-- Dashboard navigation -->
    <%- include('partials/dashnav.ejs') %>

        <!-- main dashboard -->
        <div id="blurDiv" class="main--dash">
            <header>

                <div class="hamburger--container">
                    <label for="check">
                        <input type="checkbox" id="check" />
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <p class="user" style="font-size: small;">
                    Hi <span class="userEmail"></span>,
                    <br>
                    Update Account Settings!
                </p>

                <div class="user--pic">
                    <span class="material-symbols-outlined chevron open--mobile">
                        expand_more
                    </span>
                </div>
            </header>

            <!-- PURCHASE NOW -->
            <section style="margin: 50px 20px; padding: 8px; background: #F8F7FF;">
                <h1 class="purchaseTitle">Update Email Address</h1>
                <!-- AMOUNT OF COINS -->
                <div id="slotAmount" class="pForm">
                    <p style="color: #B8003A; text-align: center; font-size: 13px;" class="mismatch hidden">Passwords doesn't match</p>
                    <p style="color: #B8003A; text-align: center; font-size: 18px;" class="apiError hidden"></p>
                    <p style="color: #00b800; text-align: center; font-size: 13px;" class="success hidden"></p>
                    <p class="pPlaceholder">Old Email Address</p>
                    <p class="purchaseInput oldemail"></p>
                </div>
            
                <!-- SELECT COIN TYPE -->
                <div class="pForm">
                    <p class="pPlaceholder">New Email Address</p>
                    <input type="email" class="purchaseInput newemail" placeholder="Enter a valid Email Address">
                </div>  
            
                <!-- REFERRAL ID -->
                <div class="pForm">
                    <p class="pPlaceholder">Password</p>
                    <input type="password" class="purchaseInput password" placeholder="*******">
                </div>

                <!-- PURCHASE BUTTON -->
                <div class="flexCenter" style="margin: 50px auto;">
                    <button class="purchaseBtn submit" style="font-weight: bold; padding: 10px 40px;">UPDATE</button>
                </div>
            
            </section>
        </div>
        <%- include('partials/dashside.ejs') %>
            <!-- profile navigation -->
</section>
<!-- Javascript codes and links -->

<script src="/public/js/editemail.js"></script>

<script>
    const navContainer = document.querySelector('.dash--mobile');
    const toggleClick = document.getElementById("check");
    const hamContainer = document.querySelector(".hamburger--container")
    let check = false;

    function toggle() {
        if (!check) {
            navContainer.classList.add('open')
            // hamContainer.style.color = "#fff"
            check = true
        }
        else {
            navContainer.classList.remove('open')
            // hamContainer.style.color = "rgba(245, 245, 245, 1)";
            check = false
        }
    }
    toggleClick.addEventListener("click", toggle)

    const userProfile = document.querySelector('.profile--m');
    const chevron = document.querySelector(".open--mobile");
    // const hamContainer = document.querySelector(".hamburger--container")
    let check1 = false;

    function toggleProfile() {
        if (!check1) {
            chevron.classList.add('open')
            userProfile.classList.add('open');
            check1 = true
        }
        else {
            chevron.classList.remove('open')
            userProfile.classList.remove('open');
            check1 = false
        }
    }
    chevron.addEventListener("click", toggleProfile)
</script>
</body>

</html>