<%# include('partials/header.ejs') %>

	<%- include('partials/mainheader.ejs') %>

			<body >
				<style scoped>

					.centeredDiv {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						z-index: 5000;
						background: rgb(241, 241, 241);
						padding: 10px;
						border-radius: 10px;
						flex-direction: column;
						width: 93%;
						max-width: 600px;
					}

					.xicon {
						color: rgb(253, 36, 36);
						height: 30px;
						cursor: pointer;
					}

					.flexCenter {
						display: flex; align-items: center; justify-content: center;
					}

					@media (min-width: 767px) {
									.star1 {
							display: none;
						}

						.star2 {
							display: none;
						}

						.star3 {
							display: none;
						}

						.star4 {
							display: none;
						}

						.star5 {
							display: none;
						}

						.star6 {
							display: none;
						}

						.star7 {
							display: none;
						}

						.star8 {
							display: none;
						}
					}

					.svgSocial path {
						color: white;
						fill: currentcolor;
					}
					.modalState {
            			filter: blur(10px) !important; height: 100vh !important; overflow: hidden !important;
        			}
				</style>

				<!-- NAV SECTION -->
				<%# include('partials/navbar.ejs') %>

					<nav class="nav">
						<p>
							<a href="/">Home</a>
						</p>
						<p>
							<a href="/presale">Pre-sale</a>
						</p>
						<p>
							<a href="/coming">Meterverse</a>
						</p>
						<p>
							<a href="/coming">NFT Marktetplace</a>
						</p>
						<p>
							<a href="#tokenomics">Tokenomics</a>
						</p>
						<p>
							<a href="/roadmap">Roadmap</a>
						</p>
						<p>
							<a href="/white">White Paper</a>
						</p>
						<p>
							<a href="/faq">Presale Faq</a>
						</p>
						<button id="login">Login</button>
						<button id="reg" class="signup">Signup</button>
					</nav>
					<div class="mainBody">
					<!-- Hero Section -->
					<section class="hero--section">
						<!-- navigation bar -->
						<header>
							<a href="/" class="logo">
								<img src="../../public/img/agropic.png" alt="#">
								<h2>AgroMetacoin</h2>
							</a>

							<div class="nav--links">
								<p>
									<a href="/presale">Pre-sale</a>
								</p>
								<p>
									<a href="/coming">Meterverse</a>
								</p>
								<p>
									<a href="/coming">NFT Marktetplace</a>
								</p>
								<p>
									<a href="#tokenomics">Tokenomics</a>
								</p>
								<p>
									<a href="/roadmap">Roadmap</a>
								</p>
								<p>
									<a href="/white">White Paper</a>
								</p>
								<p>
									<a href="/faq">Presale Faq</a>
								</p>
							</div>
							<div class="registration">
								<button id="login-d">Login</button>
								<button id="reg-d">Signup</button>

								<div class="hamburger--container">
									<label for="check">
										<input type="checkbox" id="check" />
										<span></span>
										<span></span>
										<span></span>
									</label>
								</div>
							</div>
						</header>
						<!-- main content -->
						<main style="position: relative;" class="hero">
							<h1>AGRO-META COIN PROJECT</h1>
							<svg style="position: absolute; top: 20; right: 40px" class="star1 sm:hidden" width="36"
								height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M36 17.9872C28.9387 18.6287 24.8816 19.2188 22.3909 21.1689C19.4636 23.4526 18.7703 27.6351 18 36C17.204 27.3272 16.485 23.1703 13.2753 20.938C10.7846 19.1932 6.75321 18.6287 0 18.0128C7.03566 17.3713 11.1184 16.7812 13.5835 14.8567C16.5364 12.5474 17.2297 8.39059 18 0C18.719 7.72345 19.3609 11.8546 21.7489 14.2409C24.1369 16.6272 28.2967 17.2944 36 17.9872Z"
									fill="white" />
							</svg>
							<img src="/public/img/Bitcoin-1.png" style="position: absolute; left: 0; top: 100px"
								class="star2" alt="">
							<img src="/public/img/sphere.png"
								style="position: absolute; left: 0; top: 200px; width: 40px; object-fit: contain;"
								class="star3 sm:hidden" alt="">
							<p>
								AGRO-META COIN (Pride Lands Dynasty PLD) is Africa’s First and Biggest Agricultural Metaverse Project launched on Binance Smartchain network(BEP-20) which is created to bridge the gap between Blockchain, Agriculture and Industrialization. Also improving Africa’s Agro-Tech ecosystem and infrastructural developments to building a better Africa.
							</p>
							<svg style="position: absolute; bottom: 120px; right: 40px;" class="star4" width="47"
								height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M23.4275 0L25.2206 18.7856L39.9933 6.74928L27.7564 21.2798L46.8551 23.0435L27.7564 24.8071L39.9933 39.3377L25.2206 27.3014L23.4275 46.087L21.6345 27.3014L6.86177 39.3377L19.0987 24.8071L0 23.0435L19.0987 21.2798L6.86177 6.74928L21.6345 18.7856L23.4275 0Z"
									fill="white" />
							</svg>
							<button style="width: auto; padding: 10px; margin-top: 40px !important;" id="airdropBtn">Buy Pre-sales</button>
						</main>
					</section>

					<section id="visioon" class="vision">

						<div class="article">
							<!-- <div class="oval"></div>
						<div class="rect"></div> -->
							<p class="header">Our Vision</p>
							<p class="phrase">A new opportunity in the metaverse</p>
							<!-- <div class="img--mobile"></div> -->
							<img src="/public/img/metaverse.png"
								style="height: 170px; margin-bottom: 150px; margin-top: 20px;" class="star5" alt="">
							<p class="text">
								Our Vision is aimed at revolutionizing Agriculture in Africa using Cutting edge Agro
								Innovation strategies to establish physical farms across Africa and partnering with
								existing farmers to upscale their existing farm projects and Agro enterprises thereby
								plugging back a greater percentage of the profit into liquidity to continually
								increase the value of Agro-Meta Coin
								<br><br>
								At Agro-Meta Technologies, We are on track to be the face of
								Blockchain Innovation in Africa by Leveraging on our multi skilled team at $AMC LAB. Our
								greatest desire is to be the most valued and Impactful Blockchain project in human
								history
								<br><br>
								With our innovative, modernized, and profitable Agro enterprise strategies we are
								making agriculture attractive to the younger generation while
								creating wealth, growing food quality, fresh and affordable food for Africans and the
								rest of the world, also with this ‘Smart
								Agro’ activities job creation is inevitable
							</p>
							<button style="position: static !important; margin-top: 120px">Get started</button>
						</div>
						<div class="img">

						</div>

					</section>
					<!-- Vision ends -->

					<!-- Mission starts -->
					<aside id="missionnn" class="mission">
						<div class="img"></div>
						<div class="mission--article">
							<p class="head">Our mission</p>
							<div class="img--mobile"></div>

							<p>
								This project is aimed at revolutionizing Agriculture in Africa using High-tech Agro
								innovation to
								establish physical farms across Africa and also partner with existing farmers to upscale
								their
								existing farm projects.

								<br><br>
								We have positioned ourselves to be the face of Blockchain innovation in African's huge
								Agro
								sector by bringing the benefit of Blockchain Technology to the local farmers and common
								man via
								our tailor made Agro-support programs and partnership's.
								<br><br>

								Also with the new opportunities evolving in the Metaverse space, NFT space, AMC is
								building one
								of the biggest agricultural projects on Metaverse space which would include virtual
								agricultural
								activities and games, also an NFT Marketplace which would be a One-stop buy and sell shop
								for
								collectibles and assets with a Users friendly, super secured Cryptocurrency exchange.
								This is a
								full Blockchain based utility Agro-innovative Coin.
							</p>
							<button>Get started</button>
						</div>
					</aside>
					<!-- Mission ends -->

					<!-- Options start -->
					<section class="options">
						<div class="box">
							<img src="../../public/img/arrows-new.png" alt="">
							<h2>Metaverse</h2>
							<p> Our team are currently working at creating a new opportunity to be explored by everyone
								in the metaverse, do not be left out</p>
							<a href="/coming">See more
								<span class="material-symbols-outlined">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
										viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round"
											d="M17 8l4 4m0 0l-4 4m4-4H3" />
									</svg>
								</span>
							</a>
						</div>
						<div class="box">
							<img src="../../public/img/wallet.png" alt="">
							<h2>NFT Marketplace</h2>
							<p>We are also launching a new marketplace in the crypto space to be explored by everyone
								in the crypto space</p>
							<a href="/coming">See more
								<span class="material-symbols-outlined">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
										viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round"
											d="M17 8l4 4m0 0l-4 4m4-4H3" />
									</svg>
								</span>
							</a>
						</div>
						<div class="box">
							<img src="../../public/img/wallet-1.png" alt="">
							<h2>Tokenomics</h2>
							<p>Maximum supply of our token is 100,000,000,000 and will be properly distributed with all
								transparency</p>
							<a href="#tokenomics">See more
								<span class="material-symbols-outlined">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
										viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round"
											d="M17 8l4 4m0 0l-4 4m4-4H3" />
									</svg>
								</span>
							</a>
						</div>
					</section>
					<!-- Option ends -->

					<!-- Buying starts here -->
					<section class="buying">
						<h2>BUYING INTO
							AGRO-META PROJECT</h2>
						<p>These are what it means to buy into Agro-Meta projects</p>
						<img src="../../public/img/coin.png" class="star6" style="margin: 0 10px;" alt="">
						<div class="list--container">

							<div class="list-1">
								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										Buying into the unlimited wealth in Africa's Agro Sector.
									</div>
								</div>

								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										It is being part of a project that creates thousands of job across Africa and
										beyond.
									</div>
								</div>

								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										Contributing to growing quality, healthy and affordable food for the African
										market.
									</div>
								</div>

								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										Being part of the solution to food insecurity in Africa and across the Globe.
									</div>
								</div>

								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										Beyond Agriculture, with the new opportunities evolving in the Metaverse space,
										$AMC
										is
										building one of the biggest agricultural projects in Metaverse, Games, NFTMarket
										place,
										Hybrid Crypto Exchange, AMC Lab, Talent Hub etc.
									</div>
								</div>

								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										Beyond Agriculture, with the new opportunities evolving in the Metaverse space,
										$AMC
										is
										building one of the biggest agricultural projects in Metaverse, Games, NFTMarket
										place,
										Hybrid Crypto Exchange, AMC Lab, Talent Hub etc.
									</div>
								</div>
							</div>

							<div class="list-2">
								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										$AMC is a full-scale Blockchain base multi-utility Coin strongly built on
										BinanceSmartchain network BEP-20 with sustainability in mind.
									</div>
								</div>

								<div class="text--container">
									<div class="star">
										<img src="../../public/img/star.png" alt="">
									</div>
									<div class="text">
										At Agro-Meta technologies we pride ourselves to be the gateway for
										Blockchaininnovation
										in Africa by bridging the gap between the tech-savvy and
										non-tech-savvygeneration
										using
										our "People's Unique Needs"(PUN) Strategy.
									</div>
								</div>

								<img src="../../public/img/coin-new.png" alt="coin" class="coin">

								<!-- Gradient cirle -->
								<!-- List-2 ends -->
							</div>
							<!-- <div class="gradient"></div> -->
						</div>
					</section>
					<!-- Buying ends -->

					<!-- Lorem -->
					<article class="exp">

						<div id="tokenomics" class="tokenomics">
							<div class="pie">
								<div class="chart"></div>
								<h1>The Agro Meta Tokenomics</h1>
								<!-- <div class="gradient"></div> -->
							</div>
							<div style="min-height: 80vh;" class="text">
								<p>Maximum Supply:</p>
								<h1>100,000,000,000</h1>
								<p>40%- Burning </p>
								<p>16% - Lock and Reserve</p>
								<p>8% - Developers and founders</p>
								<p>10% - Liquidity</p>
								<p>12% - Pre-sales</p>
								<p>4% - Business Development</p>
								<p>7% - Marketing</p>
								<p>2% - Advisors.</p>
								<p>1% - Airdrop.</p>
							</div>
							
						</div>

						
						<div id="tokenomics" class="tokenomics">
							<div class="pie2 pie">
								<div class="chart1"></div>
								<h1>$AMC BUY-BACK STRATEGY</h1>
								<!-- <div class="gradient"></div> -->
							</div>
							<div style="min-height: 50vh;" class="text">
								<p>50% - Utility Agriculture</p>
								<p>45% - Nft marketplace</p>
								<p>5% - AMC Lab. </p>
								<p>30% - AMC exchange</p>
								<p >45% - Metaverse Agriculture <br> and gaming</p>
							</div>
							
						</div>

						<div id="utilityy" style="margin-bottom: 250px; margin-top: 50px; height: 220vh" class="shield">
							<div class="img"></div>
							<div class="shield--content">
								<h2>Token Utility</h2>
								<h3>Agro Meta Coin is a multi Utility coin </h3>
								<!-- <div class="img--mobile"></div> -->
								<img src="../../public/img/shield-mobile.png" class="star7" style="margin: 0 10px;"
									alt="">
								<p>
									Our real-life Agro activities and partnership will boost our coin utility, all the
									farms
									and
									other Agro companies we partner with will help to increase our coin utility and
									value.
									This
									would also be because Shortly Agro-Meta Coin holders can enjoy VIP treatment and
									discount in
									most of our partner's outlets; and holders that stake their $AMC for a longer period
									will
									enjoy more of these privileges. They will also have the privilege to pay for goods
									and services in some of our partner's business outlets using Agro-Meta Coin and
									would benefit from percentage pool share this would boost the usability and value of
									the token.
									<br><br>
									We are Launching $AMC NFT Marketplace that is dynamic and allows users access
									the lucrative NFT market, $AMC would be used to Mint NFTs on $AMC Marketplace and
									NFTs would be sold on same platform as $AMC, this would add great value to the token
									as more users engage tokens for NFT Minting and trades.
									<br><br>
									$AMC Metaverse is certainly one of the most sophisticated Meatverse projects in the
									world as it allows users access to purchase Virtual lands, Agro-Meta virtual and
									efarm, play Agro-Meta e-game, Agro-Meta earth 2.0 and Agro-Meta e-store, this
									would undoubtedly drive a lot of value to the token.
									<br><br>
									$AMC Staking projects where holders and users stake their tokens to earn more from
									$AMC locked and reserve pool and partake on project pool share, this would reduce
									circulating supply as users would lock their holdings for 6 months to 5 years, this
									would therefore increase the value due to token scarcity
									<br><br>
									$AMC Cryptocurrency Exchange is a hybrid exchange with a lot of functionality and
									super-friendly users interface thereby accommodating more users on platform to buy,
									sell, stake, swap $AMC and other valuable Cryptocurrency assets.
									<br><br>
									$AMC Talent Hub One of the greatest asset of African Continent is it’s young and
									vibrant population, at AMC Talent Hub we are dedicated to nurturing these young
									population by sharpening their skills through intensive training, equipping them
									with world class relevant skills and also using our platforms and partnerships to
									give them access to the broad market.
									<br><br>
									$AMC Lab is a One-Stop-Shop for Blockchain developers, incubation center for Tech
									inclined youths and a launch pad for future innovations.
								</p>
								<button style="padding: 10px; margin-bottom: 50px;"> <a href="/dashboard">Get started
									</a> </button>
							</div>
						</div>

						<div id="faqss" class="content">
							<div class="img--mobile"></div>
							<h2>Frequently Asked Questions</h2>
							<p class="sub">Answer to some FAQs about the Africa’s Metaverse Project </p>

							<div class="questions">
								<div class="q--1">

									<p class="header">What is the full meaning of AMC?</p>
									<ul>
										<li>Agro-Meta Coin</li>
									</ul>

									<p class="header">What is the full meaning of PLD?</p>
									<ul>
										<li>Pride Land’s Dynasty</li>
									</ul>

									<p class="header">What is the Agro Meta Coin?</p>
									<ul>
										<li>AMC is Africa’s First Agricultural and Metaverse Project, which runs an NFT
											market
											place, Staking projects and Crypto Currency Exchange</li>
									</ul>

									<p class="header">How to buy Agro Meta Coin?</p>
									<ul>
										<li>Through AMC official website with USDT(Trc20), LTC, TRX, BTC</li>
										<li>
											After Presale: Fund your DEX wallet (trust wallet) with BNB Smart Chain coin
											to
											purchase via pancake swap (kindly click the link below to learn how to use
											pancakeswap)
										</li>
									</ul>

								</div>

								<div class="q--2">
									<p>How to set up Agro Meta Coin on you DEX wallet?</p>
									<ul>
										<li>Go to token search on your DEX (trust wallet)</li>
										<li>Type “add” and click on add custom token</li>
										<li>Change network to smart chain</li>
										<li>Paste contract address gotten only from official website</li>
										<li>All other information will pop up, click on add token.</li>
									</ul>
								</div>


								<!-- Question icon -->
								<div class="q--icon"></div>

							</div>

						</div>

					</article>
					<!-- Lorem ends -->

					<!-- Trade chart start -->
					<section class="trade">
						<!-- <div class="chart--talk">
						<h1>Lorem ipsum dolor sit amet, consectetur </h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tempor risus.
							Aliquam
							blandit id nisl non scelerisque. Vestibulum nec dictum mauris</p>
						<a href="#">Learn more</a>
					</div>
					<div class="chart--table">
						<div class="row">
							<div>Bitcoin</div>
							<div>BTC</div>
							<div>$56,290.30</div>
							<div>+1.68%</div>
							<div class="graph"></div>
							<div>Trade now</div>
						</div>

						<div class="row">
							<div>Ethereum</div>
							<div>ETH</div>
							<div>$4,281.81</div>
							<div>+4.36%</div>
							<div class="graph"></div>
							<div>Trade now</div>
						</div>

						<div class="row">
							<div>Cardano</div>
							<div>ADA</div>
							<div>$1.88</div>
							<div>+3.43%</div>
							<div class="graph"></div>
							<div>Trade now</div>
						</div>

						<div class="row">
							<div>Wax</div>
							<div>WAXP</div>
							<div>$0.97</div>
							<div style="color:rgba(255, 130, 130, 1)">-2.62%</div>
							<div class="graph"></div>
							<div>Trade now</div>
						</div>
						<div class="row">
							<div>Polkadot</div>
							<div>DOT</div>
							<div>$42.22</div>
							<div>+7.56%</div>
							<div class="graph"></div>
							<div>Trade now</div>
						</div>
					</div> -->

						<div class="token">
							<div class="header">
								<h2>Available Listing</h2>
								<p>AMC will soon be listed on these and other platforms</p>
								<div class="img--mobile"></div>
								<div class="platforms">

								</div>
							</div>
							<div class="img">
								<!-- <div class="gradient"></div> -->
								<img src="../../public/img/case.png" alt="token">
							</div>
						</div>
						<!-- COPY ADDRESS -->
						<div class="address">
							<h1>AMC Contract Address</h1>
							<p>Network: Binance smart chain. Main net</p>
							<input type="text"
								style="background-color: transparent; outline: none; color: gray; border: 1px solid #0377fc; font-size: 10px;"
								name="copy-address" id="address"
								value="0xF05Cf77094AA146892ACce873f7d91411B4C13d4" disabled>
							<button id="copy-btn">Copy Address</button>
						</div>
					</section>

					<!-- Trade chart end -->

					<footer
						style="background-color: transparent !important; display: flex; align-items: center !important; justify-content: space-between; max-width: 1000px; margin: auto;">
						<div class="policy">
							<a href="/" class="logo" style="display: flex; align-items: center; justify-content: left;">
								<img style="height: 30px; margin-right: 5px;" src="../../public/img/agropic.png"
									alt="#">
								<h3>AgroMetacoin</h3>
							</a>
							<p>AGRO-META COIN (Pride Lands Dynasty PLD) is Africa’s First and Biggest Agricultural
								metaverse
								project which is created to bridge the gap between Blockchain, agriculture and
								industrialization
								sector. Also improving Africa's ecosystem and infrastructural developments to build a
								better
								Africa and the World.
							</p>
							<p>© 2022 Agrometa Coin (Pride lands Dynasty PLD</p>
						</div>
						<div class="links">
							<a href="#" style="margin-bottom: 20px;">Home</a>
							<a href="#visioon" style="margin-bottom: 20px;">Vision</a>
							<a href="#missionnn" style="margin-bottom: 20px;">Misson</a>
							<a href="#tokenomics" style="margin-bottom: 20px;">Lisiting</a>
							<a href="#utilityy" style="margin-bottom: 20px;">Utility</a>
							<a href="#faqss">FAQs</a>
						</div>
					</footer>

					<!-- SOCIALS -->
					<div style="display: flex; align-items: center; justify-content: center; margin-bottom: 100px;">
						<!-- TELEGRAM -->
						<a href="https://t.me/agrometacoin">
							<svg class="svgSocial"
								style="height: 30px; border-radius: 50%; padding: 5px; margin-right: 10px; background-color: #34AADF "
								xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
								<path
									d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z" />
							</svg>
						</a>
						<!-- TWITTER -->
						<a href='https://twitter.com/agropride1'>
							<svg class="svgSocial"
								style="height: 30px; border-radius: 50%; padding: 5px; margin-right: 10px; background-color: #33CCFF; color: white !important"
								xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path
									d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z" />
							</svg>
						</a>
						<!-- DISCORD -->
						<a href='https://discord.gg/jBcyeTAHjA'>
							<svg class="svgSocial"
								style="height: 30px; border-radius: 50%; padding: 5px; margin-right: 10px; background-color: #5865F2;"
								xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
								<path
									d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z" />
							</svg>
						</a>
						<!-- YOUTUBE -->
						<a href='https://youtube.com/channel/UCJjkmvXmprgLJWEh4v0Ecqg'>
							<svg class="svgSocial"
								style="height: 30px; border-radius: 50%; padding: 5px; margin-right: 10px; background-color: rgb(241, 34, 34)"
								xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path
									d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z" />
							</svg>
						</a>
					</div>

					<!-- PLAY STORE -->
					<!-- <div style="width: 100%; margin-bottom: 50px;" class="flexCenter">
						<a href="https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40ichris473/AgroMetaCoin-01835f65958049ffaaf97416dba55b43-signed.apk">
							<img src="/public/img/playstore.webp" style="height: 120px; object-fit: contain; border-radius: 10px;" alt="">
						</a>
					</div> -->

				</div>

					<!-- FOOTER -->
					<%# include('partials/footer.ejs') %>
						<!-- Javascript codes and links -->

			</body>

			<!-- MODAL POP UP -->
            <div style="display: none; background-color: rgb(161, 140, 47);" class="popupModal centeredDiv paymentModal flexCenter">
					<!-- X ICON -->
                <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; right: 5; top: 5; z-index: 5; padding: 5px; border-radius: 50%; background: rgb(247, 231, 164); height: 50px; border: 1px solid white" class="closeModal xicon" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
				<img src="/public/img/pop.jpeg" style="width: 80vw; object-fit: contain; margin: auto;" alt="">
				<div class="flexCenter" style=" margin: 10px auto;">
					<a href="/presale" style="background-color:rgb(223, 185, 17); padding: 5px 10px; border-radius: 5px; font-weight: bold; font-size: 22px; text-align: center; border: 1px solid white">Join Presale</a>
				</div>
            </div>

			<script src="../../public/js/config.js"></script>

			<!-- POP UP FUNCTIONALITY -->
			<script>

				const closeModal = document.querySelector('.closeModal')
				const popupModal = document.querySelector('.popupModal')
				const boody = document.querySelector('.mainBody')

				setTimeout(() => {
					popupModal.style.display = 'block'
					boody.classList.add('modalState')
				}, 3200);

				closeModal.addEventListener('click', () => {
					popupModal.style.display = 'none'
					boody.classList.remove('modalState')
				})


			</script>

			</html>