
<%- include('partials/mainheader.ejs') %>
    <style>

        @font-face{
        font-family:'digital-clock-font';
        src: url('/public/fonts/digital-7.ttf');
        }

        body{
            background: white !important;
        }

        .svgSocial path {
            color: white;
            fill: currentcolor;
        }

        .timeContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        .timeOut {
            font-family: 'digital-clock-font';
            font-style: normal;
            font-weight: 400;
            font-size: 42.9589px;
            line-height: 49px;

            /* Gradient 02 */

            background: linear-gradient(52.09deg, #40D00D -11.18%, #40D00D 58.92%, #EDF3A9 98.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .titleDate {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            color: #352E5B;
        }

        .flexCenter {
            display: flex; align-items: center; justify-content: center;
        }

        .dateBuy {
            margin-top: 50px;
            gap: 10px;
            flex-direction: column
        }

        .purchaseBtn {
            flex-direction: column;
            padding: 10px;
            color: white;
            text-align: center;
            background: linear-gradient(52.09deg, #40D00D -11.18%, #40D00D 58.92%, #EDF3A9 98.44%);
            border-radius: 4px;
        }

        .tokenTitle {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 20.5079px;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: #00173A;
            mix-blend-mode: normal;
            opacity: 0.96;
            margin-bottom: 30px;
        }

        .flexBetween {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #40D00D;
            padding: 10px;
            border-radius: 2px;
            margin: 12px 0;
        }

        .supplyTitle {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 25.4606px;
            line-height: 130%;
            margin: 50px auto;
        }

        .supplyDetails {
            background: #FFFFFF;
            box-shadow: 4.72408px -5.15354px 1.71785px rgba(0, 0, 0, 0.1);
            border-radius: 1.71785px;
            display: flex;
            align-items: flex-start;
            justify-content: start;
            flex-direction: column;
            gap: 8px;
            padding: 30px;
        }

        .purchaseTitle {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
            margin-top: 20px;
        }

        .percent {
            background-color: #00173A; color: white; padding: 10px;border-radius: 27.7066px; position: absolute; height: 100%; width: 10%; text-align: center;
        }

        .percentParent {
            background: #FFFFFF;
            border-radius: 27.7066px;
            position: relative;
            height: 50px;
            max-width: 600px;
            width: 95%;
            margin: auto;
            border: 1px solid #0023585d
        }
        .purchaseInput{
            outline: none;
            background: #FFFFFF;
            border-radius: 7px;
            height: 40px;
            max-width: 600px;
            width: 95%;
            padding: 8px;
            border: 1px solid #0023585d
        }
        .pForm {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 30px auto;
        }
        .pPlaceholder {
            color: black;
            font-size: 13px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 4px;
            max-width: 600px;
            width: 95%;
            font-weight: bold;
        }
        .centeredDiv{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 5000;
            background: rgb(241, 241, 241);
            padding: 10px;
            border-radius: 10px;
            flex-direction: column;
            width: 93%;
            max-width: 600px;
        }

        .xicon {
            color: rgb(253, 36, 36);
            height: 30px;
            cursor: pointer;
        }
        .modalState {
            filter: blur(10px) !important; height: 100vh; overflow: hidden;
        }

    </style>
    <!-- Navigation for mobile  -->
    <nav class="dash--mobile">
        <a href="/" class="header">
            <img src="../../../public/img/agropic.png" alt="">
            <h1>AgroMetacoin</h1>
        </a>

        <a href="/coming">
            <span class="material-symbols-outlined">
                account_balance_wallet
            </span>
            <span>
                Wallet
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </a>

        <a href="/presale">
            <span class="material-symbols-outlined">
                local_mall
            </span>
            <span>
                Presale
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </a>

        <a href="/coming">
            <span class="material-symbols-outlined">
                swap_vert
            </span>
            <span>
                Transfer
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </a>

        <a href="/coming">
            <span class="material-symbols-outlined ">
                payments
            </span>
            <span>
                Withdraw
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </a>

        <a href="https://www.agrometacoin.com/dashboard#airdropSection">
            <span class="material-symbols-outlined">
                monetization_on
            </span>
            <span>
                Airdrop
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </a>

        <a href="/coming">
            <span class="material-symbols-outlined">
                settings
            </span>
            <span>
                Settings
            </span>
            <span class="material-symbols-outlined chevron">
                chevron_right
            </span>
        </a>

        <button class="logOut2">Logout</button>

    </nav>
    <!-- Navigation for mobile ends -->

    <!-- User profile mobile -->

    <aside class="profile--m">
        <div class="profile">
            <h3>My profile</h3>
            <svg xmlns="http://www.w3.org/2000/svg" style="color: gray; height: 150px;" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
              </svg>
            <p class="name" style="font-size: small;">Welcome <span class="userEmail2"></span></p>
            <a href="#">Edit profile</a>
        </div>

        <!-- Content starts -->
        <div class="content">
            <h3 class="acct-header">Account</h3>
            <p class="joined">Bought Coins
                <span class="boughtCoins"></span>
            </p>
            <p class="joined">Assests Total
                <span class="assetsTotal"></span>
            </p>    

        </div>
        <!-- Content ends  -->
        <button>
            <a href="/presale" style="z-index: 10;">
                <span class="material-symbols-outlined">
                    swap_vert
                </span>
                Buy Now
            </a>
        </button>
    </aside>
    <!-- User profile ends -->



    <section class="dashboard--container">
        <!-- Dashboard navigation -->
        <%- include('partials/dashnav.ejs') %>

            <!-- main dashboard -->
            <div id="blurDiv" class="main--dash">
                <header>

                    <div class="hamburger--container">
                        <label for="check">
                            <input type="checkbox" id="check" />
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>

                    <p class="user" style="font-size: small;">
                        Hi <span class="userEmail"></span>,
                        <br>
                        Welcome to our presale page!
                    </p>

                    <div class="user--pic">
                        <span class="material-symbols-outlined chevron open--mobile">
                            expand_more
                        </span>
                    </div>
                </header>

                <!-- COUNTDOWN TIMER -->
                <section style="display: none;" class="contents">
                    <h1 style="margin:30px" class="header">
                        Presale Launchs in
                    </h1>
                    <!-- Container for TIME -->
                    <div class="grid flexCenter">
                        <!-- Box containers -->
                        <div class="timeContainer">
                            <div style="flex-direction: column;" class="flexCenter">
                                <div class="flexCenter">
                                    <p class="timeOut">2</p>
                                    <p class="timeOut">0</p>
                                </div>
                                <p>DAYS</p>
                            </div>
                            <div style="flex-direction: column;" class="flexCenter">
                                <div class="flexCenter">
                                    <p class="timeOut">2</p>
                                    <p class="timeOut">2</p>
                                </div>
                                <p>HOURS</p>
                            </div>
                            <div style="flex-direction: column;" class="flexCenter">
                                <div class="flexCenter">
                                    <p class="timeOut">5</p>
                                    <p class="timeOut">6</p>
                                </div>
                                <p>MINUTES</p>
                            </div>
                   
                        </div>
                        <!-- Box containers ends -->

                    </div>
                    <!-- Grid container ends -->

                    <div class="flexCenter dateBuy">
                        <h1 class="titleDate">Launch Date : Dec 2023</h1>
                    </div>

                </section>

                <!-- PURCHASE NOW -->
                <section style="margin: 50px 20px; padding: 8px; background: #F8F7FF;">
                    <h1 class="purchaseTitle">Become a part of the AMC family! Currently Funding for Round 1</h1>
                    <p style="text-align: center; margin: 15px auto;">ROUND 1 PROGRESS - <span class="totalAmcAmount"></span> AMC of 2,500,000,000 AMC</p>
                    <!-- PROGRESS BAR -->
                    <div class="percentParent">
                        <p class="percent flexCenter totalPercent"></p>
                    </div>
                
                    <!-- AMOUNT OF COINS -->
                    <div id="slotAmount" class="pForm">
                        <p style="color: #B8003A; text-align: center; font-size: 13px; display: none;" class="minError">You can't purchase less than $10</p>
                        <p class="pPlaceholder">Choose amount of AMC to Buy (USD)</p>
                        <input type="number" class="purchaseInput slotAmount">
                        <p style="font-size: 12px; text-align: left;">Extra $0.3 applies for gas fees</p>
                    </div>
                
                    <!-- SELECT COIN TYPE -->
                    <div class="pForm">
                        <p class="pPlaceholder">Choose payment method</p>
                        <select required class="purchaseInput coinList">
                        </select>
                    </div>  
                
                    <!-- REFERRAL ID -->
                    <div class="pForm">
                        <p class="pPlaceholder">Referall ID</p>
                        <input type="text" class="purchaseInput refIDD" placeholder="Optional">
                    </div>

                    <!-- OTHER INFO -->
                    <div class="pForm">
                        <p style="color: #A5A2B8; font-size: 15px;">*AMC tokens you will recieve <span class="amcAmount"></span></p>
                        <p style="color: #A5A2B8; font-size: 15px; margin-top: 10px;">*Least amount to buy - $10</p>
                    </div>

                    <!-- PRESALE TERMS -->
                    <div class="flexCenter" style="gap: 5px;">
                        <input type="checkbox" checked>
                        <p style="font-size: 10px;">I fully understand I'm joining Pre-Sale on Future AMC Tokens that will be minted once Pre-Sale Ends.</p>
                    </div>

                    <!-- PURCHASE BUTTON -->
                    <div class="flexCenter" style="margin: 50px auto;">
                        <button class="purchaseBtn purchaseCoin">Purchase Now</button>
                    </div>
                
                </section>

                <!-- TOKENOMICS -->
                <section style="margin-top: 50px;">
                    <h1 class="tokenTitle">TOKENOMICS</h1>
                    <div style="width: 95%; max-width: 400px; margin: auto;">
                        <div class="flexBetween">
                            <p>Name</p>
                            <p>Agrometacoin</p>
                        </div>
                        <div class="flexBetween">
                            <p>Logo</p>
                            <img src="/public/img/agropic.png" style="width: 30px;" alt="">
                        </div>
                        <div class="flexBetween">
                            <p>Launch Chain</p>
                            <p>BSC</p>
                        </div>
                        <div class="flexBetween">
                            <p>ICO Presale</p>
                            <p>4%</p>
                        </div>
                    </div>
                </section>

                <!-- GREEN BORDER -->
                <div style="background-color: #EDF3A9; width: 100%; height: 1px; margin-top: 80px;"></div>

                <!-- TOKENOMICS -->
                <section style="background-color: #F8F7FF; margin: 80px 20px; padding: 20px 0;">
                    <h1 class="tokenTitle">FUNDING DETAILS</h1>
                    <div style="width: 95%; max-width: 400px; margin: auto;">
                        <div class="flexBetween">
                            <p style="font-size: 12px;">Minimum Funding Rate per Slot ($10)</p>
                            <p style="font-size: 12px;">10,000AMC</p>
                        </div>
                        <div class="flexBetween">
                            <p style="font-size: 12px;">Maximum Funding Rate per Slot ($10,000)</p>
                            <p style="font-size: 12px;">10,000,000AMC</p>
                        </div>
                        <div class="flexBetween">
                            <p style="font-size: 12px;">Total AMC for First Round</p>
                            <p style="font-size: 12px;">$2,500,000,000</p>
                        </div>
                        <div class="flexBetween">
                            <p style="font-size: 12px;">Total Funding for First Round</p>
                            <p style="font-size: 12px;">$2,500,000</p>
                        </div>
                    </div>
                </section>

                 <!-- GREEN BORDER -->
                <div style="background-color: #EDF3A9; width: 100%; height: 1px; margin-top: 80px;"></div>

                <section class="flexCenter" style="flex-direction: column;">
                    <h1 class="supplyTitle">Supply Distribution</h1>
                    <div class="supplyDetails" style="width: 350px;">
                        <div class="flexCenter">
                            <p style="background-color: #FFBF43; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>40%- Burning </p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color: #B8003A; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>16% - Lock and Reserve</p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color:#F2B4F2; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>8% - Developers and founders</p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color:#1EB9ED; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>10% - Liquidity</p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color:#8E30FF; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>12% - Pre-sales</p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color:#FF7723; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>4% - Business Development</p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color:#ffe923; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>7% - Marketing</p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color:#17d2c3; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>2% - Advisors</p>
                        </div>
                        <div class="flexCenter">
                            <p style="background-color:#dd2bf5; height: 10px; width: 10px; border-radius: 50%; margin-right: 10px;"></p>
                            <p>1% - Airdrop</p>
                        </div>
                    </div>
                    <!-- IMAGE CHART -->
                    <div class="supplyDetails flexCenter" style="flex-direction: column; margin: 80px auto;">
                        <img src="/public/img/chatie.png" style="width: 90vw; object-fit: contain; margin: auto" alt="">
                        <p style="background-color:#00245A; padding: 10px; border-radius: 5px; color: white; margin: auto">Total Supply: 100,000,000,000</p>
                    </div>
                </section>
                
                <!-- Referrals container starts -->
                <section class="referrals--container">
                    <h1 class="header">Referral List
                        <a href="#">More Activity
                            <span class="material-symbols-outlined">
                                arrow_forward
                            </span>
                        </a>
                    </h1>

                    <div class="referrals--table">
                        <div class="table">
                            <p>BSC Address</p>
                            <p>Status</p>
                        </div>
                    </div>
                </section>
                <!-- Referrals container starts -->

                <form action="">
                    <p style="font-size: 13px;">Presale Ref Link</p>
                    <input type="text" name="" id="" class="idLink presaleRefLink" disabled>
                    <button class="copyBtn">Copy Address</button>
                    
                </form>

                  <!-- social container starts -->
               <section style="padding: 10px; background-color: #e9f7f6;" class="referrals--container">
                <h1 class="header">Air drop Tasks
                    <a href="#">Complete tasks, earn 2,500 AMC
                        <span class="material-symbols-outlined">
                            arrow_forward
                        </span>
                    </a>
                </h1>
                <!-- SOCIALS -->
                <div style="margin: 40px auto;">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <!-- TELEGRAM -->
                        <a style="display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-right: 40px;" href="https://t.me/agrometacoin">
                            <svg class="svgSocial"
                                style="height: 30px; border-radius: 50%; padding: 5px; background-color: #34AADF "
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path
                                    d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z" />
                            </svg>
                            <p style="font-size: x-small; text-align: center;">Click and join <br> our Telegram group</p>
                        </a>
                        <!-- TWITTER -->
                        <a style="display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-right: 40px;"
                        href='https://twitter.com/agropride1'>
                            <svg class="svgSocial"
                                style="height: 30px; border-radius: 50%; padding: 5px; background-color: #33CCFF; color: white !important"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z" />
                            </svg>
                            <p style="font-size: x-small; text-align: center;">Click, follow and <br> retweet our
                                Twitter account
                            </p>
                        </a>
                        <!-- DISCORD -->
                        <a style="display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-right: 40px;" href='https://discord.gg/jBcyeTAHjA'>
                            <svg class="svgSocial"
                                style="height: 30px; border-radius: 50%; padding: 5px; background-color: #5865F2;"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z" />
                            </svg>
                            <p style="font-size: x-small; text-align: center;">Click to follow <br> our Discord account</p>
                        </a>
                        <!-- YOUTUBE -->
                        <a style="display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-right: 40px;" href='https://youtube.com/channel/UCJjkmvXmprgLJWEh4v0Ecqg'>
                            <svg class="svgSocial"
                                style="height: 30px; border-radius: 50%; padding: 5px; background-color: rgb(241, 34, 34)"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                <path
                                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z" />
                            </svg>
                            <p style="font-size: x-small; text-align: center;">Click to Subscribe <br> to our youtube channel</p>
                        </a>
                    </div>
                </div>

               </section>
            </div>
            <!-- MODAL -->
            <div style="display: none" class="centeredDiv paymentModal flexCenter">
                <div class="flexCenter" style="justify-content: space-between; width: 100%; margin: 10px 5px;">
                    <h1 style="opacity: .5;">Please complete payment to proceed</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" class="xicon" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                </div>
               <img src="/public/img/agropic.png" style="height: 100px; margin: 20px auto;" />
               <div>
                   <p style="text-align: center;">Please send <span class="payAmount"></span> <span class="payNetwork"></span> <span class="usdAmount"></span> to the below address. </p> 
                   <p style="text-align: center; color: #B8003A;"> Use <span class="payNetwork2"> </span> network only.</p>
               </div>
               <div class="flexCenter" style="background-color: #00173A; color: white; padding: 6px; border-radius: 7px; gap: 5px; margin: 5px auto; max-width: 400px; cursor:pointer">
                   <p class="coinAddress" style="font-size: 10px;"></p>
                   <svg xmlns="http://www.w3.org/2000/svg" class="copyTokenAddress" style="color: white; height: 17px;" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
                  </svg>
               </div>
                <!-- AMOUNT OF COINS -->
                <form class="hashForm">
                    <div class="pForm" style="margin: 5px;">
                        <p class="pPlaceholder">Enter transaction hash (optional)</p>
                        <input type="text" class="purchaseInput tHash">
                    </div>
                    <!-- PURCHASE BUTTON -->
                    <div class="flexCenter" style="margin: 10px auto;">
                        <button class="purchaseBtn tHashBtn">Complete Payment</button>
                    </div>
                </form>
            </div>

            <%- include('partials/dashside.ejs') %>
                <!-- profile navigation -->
    </section>
    <!-- Javascript codes and links -->

    <!-- <script src="/public/js/dashboard.js"></script> -->
    <script src="/public/js/presale.js"></script>
    <script>
        const navContainer = document.querySelector('.dash--mobile');
        const toggleClick = document.getElementById("check");
        const hamContainer = document.querySelector(".hamburger--container")
        let check = false;

        function toggle() {
            if (!check) {
                navContainer.classList.add('open')
                // hamContainer.style.color = "#fff"
                check = true
            }
            else {
                navContainer.classList.remove('open')
                // hamContainer.style.color = "rgba(245, 245, 245, 1)";
                check = false
            }
        }
        toggleClick.addEventListener("click", toggle)

        const userProfile = document.querySelector('.profile--m');
        const chevron = document.querySelector(".open--mobile");
        // const hamContainer = document.querySelector(".hamburger--container")
        let check1 = false;

        function toggleProfile() {
            if (!check1) {
                chevron.classList.add('open')
                userProfile.classList.add('open');
                check1 = true
            }
            else {
                chevron.classList.remove('open')
                userProfile.classList.remove('open');
                check1 = false
            }
        }
        chevron.addEventListener("click", toggleProfile)
    </script>
    </body>

    </html>